.slider {
  width: 100%;
  height: 400px;
  position: relative;
}
.slide {
  width: 100px;
  height: 400px;
  position: absolute;
  overflow: hidden;
  transition: 2s;
}
.slides input {
  display: none;
}
/* css for manual slide navigation */
.navigation-manual {
  position: absolute;

  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: red;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
/* css for automatic navigation */

.navigation-auto {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 260px;
}
.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: red;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: red;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: red;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: red;
}
