* {
  margin: 0;
  padding: 0;
}

.nav_light {
  background-color: #bbcbcb;
}

/* !feedback cantenr is here */

.feedback_cantenr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 0 0;
}

/* !feedback form is here */

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  /* background-color: #111111; */
  /* background-color: #f8f8f8ef; */
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.4);
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  /* border: 1px solid #ccc; */
  border-radius: 3px;
  &:focus{
    outline: none;
  }
  
}
.blackD{
  background-color: #fff;
  color: black;
}
.darkbox{
  background-color: black;
  color: white; 
}


button {
  background-color: #67abf4;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    background-color:  #007bff;
    color: #151515;
    transform: scale(1.1);
  }
}



.feedback_button {
  padding: 6px 6px 6px 6px;
  width: 120px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 6px;
  color: #fff;
  background-color: #ec1ce9;
  transition: all 0.1s ease;
  &:hover {
    width: 135px;
    font-size: 1.8rem;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  }
}

/* !dark mode and help button */
.h_container {
  display: flex;
  justify-content: space-between;
  /* background-color: #f8f8f8ef; */
  /* background-color: #111111; */

  padding: 10px;
}
.option_b {
  display: flex;
  align-items: center;
  gap: 4px;
}
.option_b::marker {
  content: "";
}
.help {
  cursor: pointer;
  &:hover{
    color: #ec1ce9;
  }
}
a {
  color: inherit; /* Isse anchor tag apne parent element `ka color inherit karega */
  text-decoration: none;
}


/*  !  success_box */

.success_box {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #24d2ac;
  position: absolute;
  height: 100px;
  padding: 10px;
  border-radius: 6px;
  font-size: 2rem;
}


@media (max-width: 700px) {
}
/* 1000px */

/*pad screen */
@media (max-width: 781px) {
}
/* mobile screen size */
@media (max-width: 590px) {
  .feedback_cantenr {
    flex-direction: column;
    gap: 10px;
  }
}

/* mobile screen size 382 */
@media (max-width: 382px) {
}

/* ! loader */
.loader {
  display: none;
  position: absolute;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #2596e6; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}