.loderbox {
  position: fixed;
  top: 50%;
  left: 50%;
}

/*  !  success_box */

.success_box {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #24d2ac;
  position: absolute;
  height: 100px;
  padding: 10px;
  border-radius: 6px;
  font-size: 2rem;
}

.loader {
  display: none;
  position: fixed;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #2596e6; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
