
/* ! user container */
.user_container {
  z-index: 2;
  margin: 0;
  display: flex;
}

#user_button {
  cursor: pointer;
}


#user_list {
  z-index: 2;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  top: 50px;
  display: none;
  border-radius: 5px;
  
}

/* ! sing up and login */
.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7px;
  padding: 0px 10px 0 10px;
  gap: 15px;
}
button {
  font-style: none;
}
.button a {
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: #0922fe;
    text-shadow: 1px 2px 5px #000000;
  }
}

/* ! user profile */

.profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7px;
  padding: 10px 10px 0 10px;
  flex-direction: column;
}

.profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(193, 192, 192, 0.712);
}

.profile_info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.longout ,.manage_account{
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgba(216, 215, 215, 0.877);
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  margin-top: 5px;
}