* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.big_container{
    display: flex;
    justify-content: center;
    margin: 7px 0px 0 10px;
}
.image_container{
    width: 25%;
    height: 100%;
    display: flex;
    border: 2px solid black;
}
.image_container img{
    width: 80%;
    height: 50%;
}
.product_container{
    width: 40%;
    height: 100%;
    border: 2px solid black;
}
.delever_detels_container{
    width: 25%;
    height: 100%;
    border: 2px solid black;
}
