.menu-container {
    position: relative;
    z-index: 1;
    margin: 0;
    left: -25px;
    top: 20px;
    
}

#menu-button {
    cursor: pointer;
}

#menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu-list li {
    padding: 10px;
    display: flex;
}

#menu-list li a {
    text-decoration: none;
    color: #333;
    display: block;
}
