body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.login_row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.888);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    width: 350px;
    height: 200px;
}
.kitmo-logo{
    display: flex;
    height: 90Px;
    justify-content: center;
}
.kitmo_img{
    justify-content: center;
    width: 200px;
    height: 100px;
}
h2{
    margin-top: 0;
}
.mobile_number{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mobile_number input{
    width: 200px;
    
}
form {
    align-items: center;
}

label {
    margin-bottom: 10px;
}
input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.832);

}
button {
    background-color: #3498db;
    color: #fff;
    padding: 7px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
