.back_button {
  font-size: 1.4rem;
}
.add_cart1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.cart_image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 390px;
    height: 390px;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home button {
  padding: 6px;
  border: none;
  background-color: rgb(25, 198, 146);
  width: 20vh;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: rgb(25, 198, 146, 0.8);
  }
}

.big_cart_cantenr {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cart_cantenr {
  display: flex;
  width: 60%;
  margin: 0 10px 0 10px;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
}
.cart_y {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.product {
  display: flex;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 0 7px rgb(122, 114, 114);
}
.product img {
  cursor: pointer;
  height: 150px;
  border-radius: 6px;
  margin: 0.4rem;
}

.product-box {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.name {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 110px;
  align-items: center;
}
.ditalis {
  font-weight: bold;
  margin-top: 8px;
}
.dec {
  font-size: 0.9rem;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.quantity-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity {
  margin-top: 8px;
}

.qty {
  display: none;
}

.qua {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.add,
.dicrement {
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
.add {
  color: green;
}
.dicrement {
  color: red;
}
.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-text {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 8px;
}
.price {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.totprice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #858889;
  padding: 4px;
  border-radius: 6px;
  color: #fff;
}
.ammunt {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.delete {
  display: flex;
}

.delete button {
  margin: 0 0 10px 0;
  padding: 4px;
  border-radius: 4px;
  border: none;
  background-color: rgb(239, 38, 38);
  color: white;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: rgb(246, 21, 21);
  }
}

.total_price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 0 7px rgb(122, 114, 114);
}
.total-box {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 10px 0 0 0;
}
.chackoutbtn {
  margin: 10px 0 10px 0;
}
.chackoutbtn button {
  background-color: #4caf50;
  border: none;
  width: 20vh;
  padding: 4px;
  border-radius: 4px;
  &:hover {
    background-color: #3e8e41;
  }
}

@media (max-width: 700px) {
}
/* 1140px */
@media (max-width: 1140px) {
}

/* 1000px */
@media (max-width: 1000px) {
}
/*pad screen */
@media (max-width: 781px) {
}
/* mobile screen size */
@media (max-width: 590px) {
  .big_cart_cantenr {
    width: 100%;
  }
  .cart_cantenr {
    width: 100%;
  }
  .product {
    width: 100%;
    overflow: hidden;
  }
  .product img {
    height: 100px;
  }
  .name {
    height: 100px;
  }
  .dec {
    font-size: 0.8rem;
  }
  .quantity {
    display: none;
  }
  .qty {
    display: flex;
  }
}

/* mobile screen size 382 */
@media (max-width: 382px) {
}
