* {
  margin: 0;
  /* font-family: Arial; */
}
.big_container {
  display: flex;
  /* width: 100%; */
}
/* ! buy_item_image */
.buy_item_image {
  display: flex;
}

/* image container */
.image_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image_container img {
  width: 100%;
  height: 100%;
}
.radio_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  gap: 5px;
}
/* product detels container */
.product_container {
  display: flex;
  flex-direction: column;
}
/* delever detels and time detels  */
.delever_detels_container {
  width: 25%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid black;
}
a {
  text-decoration: none;
}

.price_quantity{
  display: flex;
  justify-content: space-between;
  /* margin: 8px 20px 0 20px; */
}

.quantity_box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.decremet , .increment{
  font-size: 22px;
  cursor: pointer;
}

/* ! checkout_addcart */

.checkout_addcart{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.checkout , .addcart{
  border: 2px solid rgb(22, 20, 20);
  padding: 4px 4px 4px 4px;
  border-radius: 5px;
  cursor: pointer;
}

/* 1140px */
@media (max-width: 1140px) {
}

/* 1000px */
@media (max-width: 1000px) {
}
/*pad screen */
@media (max-width: 781px) {
}
/* mobile screen size */
@media (max-width: 590px) {
  .big_container {
    flex-direction: column;
  }
  .buy_item_image{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* image container */
  .image_container {
    display: flex;
    width: 100%;
    background-color: #fff;
  }
  /* producat image */
  .image_container img {
    width: 60%;
    height: 50%;
    max-height: 400px;
    max-width: 200px;
    
  }
  /* product detels container */
  .product_container {
    display: flex;
    width: 90%;
    height: 100%;
    font-size: 1rem;
    /* font-weight: bold; */
    padding: 4px;
    /* margin-left: 10px; */
  }
  /* deleve detels and time detels  */
  .delever_detels_container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    margin-top: 10px;
  }
}

/* mobile screen size 382 */
@media (max-width: 382px) {
  /* image container */
  .image_container {
    width: 100%;
  }
  /* producat image */
  .image_container img {
    width: 60%;
    height: 50%;
  }
  /* product detels container */
  .product_container {
    width: 100%;
  }
  /* deleve detels and time detels  */
  .delever_detels_container {
    width: 100%;
  }
}
