* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.big_container{
    display: flex;
    justify-content: center;
    margin: 7px 0px 0 10px;
}
/* image container */
.image_container{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.image_container img{
    width: 80%;
    height: 50%;
    
}
.radio_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    gap: 5px;
}
/* product detels container */
.product_container{
    width: 40%;
    height: 100%;
    border: 2px solid black;
}
/* deleve detels and time detels  */
.delever_detels_container{
    width: 25%;
    height: 100%;
    border: 2px solid black;
}
