*{
    margin: 0;
}
.back_button{
    font-size: 25px;
}
.add_cart1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.cart_image{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 50%;
        height: 50%;
    }
}
.todaydeals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;   
}