.feedback {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback button {
  margin: 10px;
  padding: 7px;
  border: none;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  background-color: #8816f3;
  cursor: pointer;
}
