*{
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

body{
  background-color: #92dbca88;
}
/*  ! welcome box */

.welcome_box {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #92dbca9e;
  height: 60px;
  position: sticky;
  top: 0;
}
.opation , .opationcut {
  position: fixed;
  top: 10px;
  padding: 4px 4px 4px 6px;
  font-size: 2rem;
  text-shadow: 3px 4px 3px rgb(153, 109, 224);
  /* color: #fff; */
  /* background-color: #000000; */
  cursor: pointer;
  z-index: 2;
}

.opation{
  display: none;
}
.home{
  display: flex;
  position: fixed;
  top: 10px;
  right: 2px;
  padding: 4px 4px 4px 6px;
  font-size: 30px;
  text-shadow: 3px 4px 3px rgb(153, 109, 224);
  cursor: pointer;
  z-index: 2;
}

/* ! big box  */

.bigbox{
  display: flex;
  height: 100%;
}

.boxa{
  width: 30%;
  height: 100vh;
  display: flex;
  /* position: relative; */
  position: sticky;
  top: 0;
  background-color: #bbe0d7;
  border: 1px solid rgba(0, 0, 0, 0.337);
  border-radius: 8px;
  color: #fff;
  padding: 4px;
  z-index: 1;
  animation: fadeIn 0.2s ease-in-out; /* Animation properties */
}

/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Define the keyframes for the fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Additional class to trigger fade-out animation */
.fade-out {
  animation: fadeOut 2s ease-in-out;
}

.boxa ul{
  list-style: none;
  width: 100%;
  max-height: 800px; /* Set the max height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}
.boxa li{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 7px;
  margin-bottom: 2px;
  color: #fff;
  &:hover{
    background-color: #0a4c3c9e;
  }
}

.noactive{
  background-color: #10765c8e;
}

.active {
  background-color: #0a4c3c9e;
}

a {
  text-decoration: none;
  color: inherit;
}

.boxb{
  width: 70%;
  /* background-color: #1e28296e; */
  /* color: #fff; */
  height: 100%;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.answe{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.q{
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  background-color: #30a88a;
  border-radius: 7px;
  margin: 0;
  position: sticky;
  top: 0;
  font-weight: bold;
}

.video{
  width: 400; 
  height: 200;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-top: 5px;
}

.ans{
  width: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.ans li{
  font-size: 1.2rem;
}

.thank{
  display: flex;
  font-size: 2rem;
}

.option_b , .feedback button{
  width: 20vh;
  font-size: 1.2rem;
  padding: 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  
}

.feedback button{
  background-color: #cf69e9c5;
  &:hover{
    background-color: #dfa6eec5;
  }
}

/* mobile screen size */
@media (max-width: 590px) {
  .welcome_box {
    font-size: 1.3rem;
  }
  .boxa{
    display: none;
    position: fixed;
    top: 40px;
    height: 100%;
    width: 90%;
  }
  .boxb{
    width: 100%;
  }
  ul{
    width: 100%;
  }
  .opation{
    display: flex;
  }
  video{
    width: 95%; 
    height: 100%;
    border-radius: 8px;
    margin-top: 5px;
  }
}