.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  touch-action: pan-y; /* Allow vertical scrolling on the page */
}

.slides {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  will-change: transform; /* Optimization hint for smoother animation */
}

.slides img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border: none;
}

.radio_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 15px 0px;
  gap: 10px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
