:root {
  --bgc-color: white;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  touch-action: pan-y; /* Allow vertical scrolling on the page */
}

.slides {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  will-change: transform; /* Optimization hint for smoother animation */
}

.slides img {
  width: 100%;
  flex-shrink: 0;
  aspect-ratio: 16/8;
  object-fit: cover;
}

.radio_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 15px 0px;
  gap: 10px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.shadow {
  position: absolute;
  height: 40px;
  bottom: -41px;
  background-color: inherit;
  width: 100%;
  box-shadow: 0 0 10px var(--bgc-color), 0 0 20px var(--bgc-color),
    0 0 20px var(--bgc-color), 0 0 20px var(--bgc-color),
    0 0 40px var(--bgc-color), 0 0px 40px var(--bgc-color),
    0 0 80px var(--bgc-color), 0 0 80px var(--bgc-color),
    0 0 120px var(--bgc-color), 0 0 120px var(--bgc-color),
    0 0 160px var(--bgc-color), 0 0 160px var(--bgc-color),
    0 0 200px var(--bgc-color), 0 0 200px var(--bgc-color),
    0 0 250px var(--bgc-color), 0 0 300px var(--bgc-color),
    0 0 350px var(--bgc-color);
}

.text_hero {
  position: absolute;
  /* left: 3rem; */
  /* width: 100%; */
  left: 2rem;
  min-width: 500px;

  display: flex;
  align-items: center;
  /* z-index: -1; */
}

.text_hero > h1 {
  position: absolute;
  left: 3rem;
  font-size: 4rem;
  /* color: transparent; */
  text-shadow: 0 0 4px var(--bgc-color);
}

@media (max-width: 700px) {
  .text_hero > h1 {
    font-size: 2rem;
    left: 1rem;
  }
}
