* {
  margin: 0;
  font-family: Arial;
  border: border-box;
  padding: 0;
}

/* border style */
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
/* website postar dile and offer*/
.hero_box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.slbox {
  display: flex;
  position: absolute;
  bottom: 20px;
  gap: 10px;
}

.obox {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid black;
}

/* product item box cantenr*/
.cantenr {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 10px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  padding: 25px 0 0 0px;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(122, 114, 114, 0.7);
}
.itam_name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border-radius: 10px;
  text-shadow: 0 0 4px black;
}
.itam_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  /* background-color: #fff; */
  overflow: hidden;
}

.itam_img img {
  width: 100%;
  border-radius: 10px;
}

.itam_detelas {
  /* height: 45px; */
  max-height: 52px;
  display: flex;
  gap: 7px;
  overflow: hidden;
}
.itam_price {
  /* color: white; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 5px;
  text-shadow: 2px 2px 5px black;
}
.itam_price > div {
  color: red;
  font-size: 1.1rem;
  text-shadow: none;
}
.desc {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  /* text-shadow: 0 0 100px black; */
}
.shop_box {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.add_cart,
.buy {
  background-color: #9dacff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
  /* margin-top: 0; */
  cursor: pointer;

  /* position: absolute; */

  transition: all 0.3s ease;
  &:hover {
    background-color: #5f77ff;
    transform: scale(1.1);
  }
}
.add_cart {
  width: 37%;
  font-size: 13px;
}

.buy {
  width: 35%;
}
/* design touch */

/* ! group */

.group {
  display: grid;
  gap: 15px;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(4, 350px);
}
.group_box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.169);
  margin-top: 10px;
  margin-bottom: 10px;
}
.group_box_title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.group_box_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.image_a {
  display: flex;
  gap: 10px;
}
.image_a > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* best_product_title */

::-webkit-scrollbar {
  width: 5px; /*  Set the width of the scrollbar */
}

.best_product_title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.view_all {
  font-size: 1rem;
  border: 1px solid rgba(130, 130, 130, 0.292);
  background-color: rgba(130, 130, 130, 0.112);
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
}

.best_product {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.best_product_content {
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.169);
  cursor: pointer;
}
.best_product_content > img {
  aspect-ratio: 2/3;
  border-radius: 10px;
  max-width: 150px;
  max-height: 300px;
  object-fit: cover;
}

.show_more {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show_more button {
  background-color: #9dacff;
  padding: 8px;
  border-radius: 5px;
  border: none;
  &:hover {
    background-color: #5f77ff;
  }
}

/* developer contact and website details */
.contacts_line {
  height: 14px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  display: flex;
  position: relative;
  background-color: #fff;
  bottom: -13px;
  z-index: 1;
}
.contacts_second_line {
  height: 13px;
  display: flex;
  z-index: 0;
}
.cantacts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.contacts_bottom_line {
  height: 14px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  display: flex;
  position: relative;
  background-color: #fff;
  top: -13px;
  z-index: 1;
}
.contacts_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile_img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: 1;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.35);
  }
}
.no_dark .profile_img {
  filter: drop-shadow(0px -2px 8px rgba(0, 0, 0, 0.327));
}

.dark-mode .profile_img {
  filter: drop-shadow(0px -2px 8px rgba(255, 255, 255, 0.153));
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .contacts_box {
    display: none;
  }
  .contacts_box_mobile {
    display: flex;
  }
  .midea_mobile {
    display: flex;
  }
}

@media (max-width: 700px) {
  .cantenr {
    grid-template-columns: repeat(3, 185px);
  }
  .group {
    grid-template-columns: repeat(3, 180px);
  }
  .image_a > img {
    width: 50%;
    height: 60px;
  }
}
/* 1140px */
@media (max-width: 1140px) {
  .cantenr {
    grid-template-columns: repeat(4, 185px);
  }
  .group {
    grid-template-columns: repeat(3, 300px);
  }

  .image_a > img {
    width: 100px;
    height: 100px;
  }
  .hero_box {
    height: 400px;
  }
  .image1 {
    height: 400px;
  }
}

/* 1000px */
@media (max-width: 1000px) {
  .cantenr {
    grid-template-columns: repeat(4, 185px);
  }
  .group {
    grid-template-columns: repeat(3, 250px);
  }

  .image_a > img {
    width: 80px;
    height: 80px;
  }

  .hero_box {
    height: 350px;
  }
  .image1 {
    height: 350px;
  }
}
/*pad screen */
@media (max-width: 781px) {
  .cantenr {
    grid-template-columns: repeat(3, 185px);
  }
  .group {
    grid-template-columns: repeat(3, 220px);
  }
  .image_a > img {
    width: 80px;
    height: 80px;
  }
}
/* mobile screen size */
@media (max-width: 590px) {
  .cantenr {
    grid-template-columns: repeat(2, 185px);
  }
  .group {
    grid-template-columns: repeat(3, 180px);
  }
  .image_a {
    width: 50px;
    height: 50px;
  }
  .hero_box {
    height: 80%;
  }
  .image1 {
    height: 80%;
  }
}

/* mobile screen size 382 */
@media (max-width: 382px) {
  .cantenr {
    grid-template-columns: repeat(2, 175px);
  }
  .hero_box {
    height: 175px;
  }
  .image1 {
    height: 175px;
  }
}
