body {
  font-family: Arial, sans-serif;
}
.help {
  cursor: pointer;
}
.kitmo-logo {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.kitmo_img {
  justify-content: center;
  width: 200px;
  height: 100px;
}
.l_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h2 {
  margin-top: 0;
}
#login-form {
  flex-direction: column;
  display: flex;
}
.login-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 350px;
}
.input_container {
  margin-bottom: 20px;
}
.password {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
input {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.832);
}
button {
  background-color: #3498db;
  color: #fff;
  padding: 7px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.option_b::marker {
  content: "";
}
.option_b {
  display: flex;
}
.mode_line {
  padding-left: 4px;
}
/* dark mode box shadow */
.box_shadow_light {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.888);
}
.darkmode_box_shadow {
  box-shadow: 0 0 10px rgba(255, 255, 255);
}
.btn_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.h_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
