.user_container {
    z-index: 2;
    margin: 0;
    width: 200px;
    display: flex;  
}
#user_button{
    cursor: pointer;
}
#user_list{
    z-index: 2;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 30px;
    top: 50px;
    display: none;
    box-shadow: 4px 5px 6px rgb(3, 3, 3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7px;
}
button{
    font-style: none;
}
.button a{
    text-decoration: none;
    &:hover{
        color: #0922fe;
        text-shadow:1px 2px 5px #000000;
    }
}