* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  flex-direction: column;
}

/* !dark mode and help button */
.h_container {
  display: flex;
  justify-content: end;
  margin: 10px 10px 0 10px;
  top: 0px;
  width: 90%;
  margin-bottom: 10px;
}

.help {
  cursor: pointer;
}
a {
  color: inherit; /* Isse anchor tag apne parent element `ka color inherit karega */
  text-decoration: none;
}

.profile-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
}

.profile-img {
  width: 100%;
}

.name {
  font-size: 1.5rem;
  margin: 10px 0;
}

.profile-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.profile-card button:hover {
  background-color: #0056b3;
}

/* more-info */

.show_more {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.show_more > p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.phone,
.email,
.address {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 10px;
}

address {
  font-size: 1.2rem;
  display: flex;
  width: 70%;
}

/* box shadow dark mode and no dark mode */
.box_no_dark_shadow {
  /* box-shadow: 4px 5px 6px rgb(0, 0, 0); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box_dark_shadow {
  box-shadow: 0 0px 8px rgba(255, 255, 255, 0.1);
}

/* .box_no_dark_shadow .profile-img {
  /* filter: drop-shadow(0px -2px 8px rgba(0, 0, 0, 0.147)); */
/* } */
/* .box_dark_shadow .profile-img {
  filter: drop-shadow(0px -2px 8px rgba(255, 255, 255, 0.145));
} */

main {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.sidebar {
  width: 20%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.sidebar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 90%;
}

.sidebar > ul > li {
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
  gap: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #4e4e4ed8;
    border-radius: 5px;
  }
}

@media (max-width: 700px) {
  .sidebar {
    width: 47px;
    overflow: hidden;
  }
  .profile-card {
    width: 70%;
  }
}
/* 1140px */
@media (max-width: 1140px) {
}

/* 1000px */
@media (max-width: 1000px) {
}
/*pad screen */
@media (max-width: 781px) {
}
/* mobile screen size */
@media (max-width: 590px) {
  .h_container {
    display: none;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar > ul {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
  }

  .sidebar > ul > li > span {
    display: none;
  }
  .profile-card {
    width: 90%;
  }
}

/* mobile screen size 382 */
@media (max-width: 382px) {
}
