header {
  /* position: sticky; */
  top: 0;
  z-index: 2;
  width: 100%;
}
/*navbar*/

.navbar,
.search_secation_panl {
  height: 60px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}
.nav_light {
  background-color: #bbcbcb;
}

/* ! nav menu option */
.nav-option {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.5s ease;
}
.option {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

/* ! menu button */
.coman {
  height: 2px;
  border-radius: 1px;
  width: 20px;
  transition: all 0.5s ease;
}
.option .first_line {
  transform: rotate(45deg);
}
.option .midel_line {
  opacity: 0;
  transform: translateX(30px);
}
.option .end_line {
  transform: rotate(-45deg);
}

/* ! website logo */
.kitmo-logo {
  display: flex;
  height: 100px;
  width: 150px;
  cursor: pointer;
  justify-content: center;
}
.kitmo_img {
  justify-content: center;
}

/* ! search secation */
.search-secation {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* search select */
.search-select {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}
/*  microphone */
.microphone {
  height: 40px;
  border: none;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* search input */
.search-input {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
  border: none;
}
/* search icon */
.search-icon {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  &:hover {
    color: aqua;
  }
}

/* ! cart  */
.cart {
  position: relative;
  font-size: 25px;
  padding-top: 12px;
  border-radius: 4px;
  transition: all 0.1s ease;
  &:hover {
    transform: scale(1.2);
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  }
}
.cart a {
  color: inherit; /* Isse anchor tag apne parent element `ka color inherit karega */
}
.amuntcart {
  font-size: 16px;
  position: absolute;
  top: -6px;
  right: 6px;
  padding: 1px 3px 2px 3px;
}

/* ! user icon */
.usar {
  font-size: 25px;
  transition: all 0.1s ease;
  &:hover {
    transform: scale(1.2);
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  }
}

/* ! search secation mobile secreen */
.search_secation_panl {
  display: none;
  justify-content: center;
}

/*pad screen */
@media (max-width: 781px) {
  .navbar {
    height: 50px;
  }
  .search-secation {
    display: none;
  }
  .search_secation_panl {
    display: flex;
  }
  .search-select {
    height: 35px;
  }
  .microphone {
    height: 35px;
    border-radius: 8px 0 0 8px;
  }
  .search-input {
    width: 200px;
    height: 35px;
  }
  .search-icon {
    height: 35px;
  }
}

/* mobile screen size */
@media (max-width: 590px) {
  #user_list {
    right: 3px;
  }
}
