:root {
  --dark-color: black;

  /* button */
  --btn-con-color: #3498db;
  --btn-readias: 0.4rem;
  --btn-padding: 7px 10px;
  --btn-shadow: 2px 2px 4px rgb(0, 0, 0);
  --btn-boader: 1px solid transparent;

  /* input */
  --in-padding: 0.6rem;
  --in-shadow: 0 2px 5px rgba(0, 0, 0, 0.832), 0 2px 5px white;

  /* form contaner */

  /* light shadow */
  --fm-shadow: 0 0 10px rgba(0, 0, 0, 0.888);
  /* dark shadow */
  --fm-shadow-d: 0 0 10px rgba(255, 255, 255);
}

body {
  font-family: Arial, sans-serif;
}

.help {
  cursor: pointer;
}

.help a {
  text-decoration: none;
  color: inherit;
}

.kitmo-logo {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.kitmo_img {
  justify-content: center;
  width: 200px;
  height: 100px;
}

.l_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  margin-top: 0;
}

#login-form {
  flex-direction: column;
  display: flex;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 1rem;
  text-align: center;
  width: 350px;
}

.input_container {
  margin-bottom: 20px;
}

.password {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

input {
  padding: var(--in-padding);
  border: 1px solid transparent;
  border-radius: var(--btn-readias);
  box-shadow: var(--in-shadow);
  background-color: inherit;
  color: inherit;
  &:focus {
    outline: none;
  }
}

button {
  background-color: var(--btn-con-color);
  color: #fff;
  padding: var(--btn-padding);
  border: var(--btn-boader);
  border-radius: var(--btn-readias);
  cursor: pointer;
  font-weight: 700;
  box-shadow: var(--btn-shadow);
}

#singupbtn {
  display: flex;
  background-color: #2ef3f3;
  border: var(--btn-boader);
  align-items: center;
  padding: var(--btn-padding);
  border-radius: var(--btn-readias);
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--btn-shadow);
}

/* dark mode setting */
.option_b {
  display: flex;
}
.option_b::marker {
  content: "";
}
.mode_line {
  padding-left: 4px;
}
/* dark mode box shadow */
.box_shadow_light {
  box-shadow: var(--fm-shadow);
}

.darkmode_box_shadow {
  box-shadow: var(--fm-shadow-d);
}

/* button */
.btn_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

/* nav bar */
.h_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
