* {
  margin: 0;
  font-family: Arial;
  border: border-box;
  padding: 0;
}

.big_container {
  width: 100%;
  display: flex;
}
/* ! buy_item_image */
.buy_item_image {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* ! share */

.share {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
}

.share i {
  cursor: pointer;
  background-color: #ffffffad;
  padding: 10px;
  color: #000;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

/* image container */
.image_container {
  max-width: 35%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* position: relative; */
  position: sticky;
  top: 0;
}

/* prev and next button */
.prev,
.next {
  position: absolute;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 14px 10px 14px;
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.radio_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 15px 0px;
  gap: 8px;
  position: absolute;
  bottom: 80px;
}

/* hover image show */

.image_hover_change {
  position: absolute;
  z-index: 23;
}
.image_hover_change > img {
  object-fit: cover;
}

.image_hover {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 7px;
  overflow: auto;
  transition: all 0.3s ease;
}
.image_hover > span {
  border: 1px solid rgba(130, 130, 130, 0.292);
  border-radius: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* cursor: pointer; */
  transition: all 0.3s ease;
}
.image_hover > span > img {
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}

/* product detels container */
.product_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

.title_product {
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3px;
  overflow-wrap: break-word;
}

.rating {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.fa-star {
  color: #f7a130;
}

.line_zx {
  width: 100%;
  height: 1px;
  background-color: rgba(130, 130, 130, 0.292);
}

.itam_dec {
  margin-top: 10px;
  position: relative;
  transition: all 0.3s ease;
}

.itam_dec pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.3;
  transition: all 0.3s ease;
}

/* ! delever detels and time detels  */
.moble_deliver {
  display: none;
}
.delever_detels_container {
  width: 13%;
  height: fit-content;
  border: 1px solid rgba(130, 130, 130, 0.292);
  border-radius: 7px;
  padding: 10px;
}

.delever_detels_container a {
  color: rgba(0, 0, 255, 0.644);
}

.day_d {
  font-size: 1rem;
  font-weight: 600;
}

.price_d {
  margin-left: 19px;
  position: relative;
}
.price_d > .sambole_d {
  font-size: 0.8rem;
  position: absolute;
  left: -7px;
  top: 3;
}
.price_d > span {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.deliver_date_d {
  font-size: 0.9rem;
}

.hour {
  font-size: 1.2rem;
  color: #4caf50;
}

.diliver_address_d {
  font-size: 0.9rem;
  color: rgba(0, 0, 255, 0.644);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stock {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4caf50;
}

a {
  text-decoration: none;
}
/* quntity secation */
.quntity_sec {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 600;
}
.quntity_secation_d {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(130, 130, 130, 0.292);
  border-radius: 7px;
}
.quntity_secation_d > .quntity {
  color: #4caf50;
  font-weight: 600;
}

.quntity_secation_d > .increment {
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 500;
}

/* deliver secation button */
.button_d {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

.button_d > button {
  background-color: #4caf4fca;
  width: 100%;
  border-radius: 10px;
}

/* ! offer and price and mrp */

.price_product {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.price-c {
  margin: 5px 0px 0px 15px;
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
}
.price-c > span {
  font-size: 0.8rem;
  position: absolute;
  top: 1px;
  left: -7px;
}

.offer {
  font-size: 1.2rem;
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.mrp {
  font-size: 0.7rem;
  color: rgba(61, 63, 65, 0.735);
}

.price_x {
  position: relative;
}

.line_xy {
  width: 110%;
  position: absolute;
  height: 1px;
  left: -2px;
  top: 50%;
  background-color: rgba(61, 63, 65, 0.735);
}

.all_taxes {
  font-size: 0.85rem;
  padding-bottom: 10px;
  margin-top: 3px;
}

/* offers bank offers*/
.offers_p,
.color_product,
.about_d {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 600;
}
.offers,
.more_opation_d {
  display: flex;
  gap: 7px;
  overflow: auto;
  margin-bottom: 4px;
  /* scrollbar-width: thin; */
}

::-webkit-scrollbar {
  width: 5px; /*  Set the width of the scrollbar */
}

.offer_item {
  padding: 10px;
  border: 1px solid rgba(61, 63, 65, 0.735);
  border-radius: 7px;
  cursor: pointer;
}

/* offers cash on pay add delever or quallity  */
.offers_cash {
  margin-top: 10px;
}
.offer_item_C {
  display: flex;
  max-width: 60px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.offer_item_C > i {
  font-size: 1.5rem;
  margin-bottom: 4px;
  color: rgb(144, 103, 234);
}
.offer_item_C > div {
  color: #2e82f895;
  display: flex;
  text-align: center;
  font-size: 0.9rem;
}

/* ! product details */
.product_details_p,
.about_p {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}
.product_details {
  display: flex;
  max-height: 100px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.product_details > ul {
  margin-left: 30px;
}

.product_details > ul > li {
  margin-bottom: 7px;
  font-weight: 600;
}
.product_details > ul > li > span {
  font-weight: 200;
}

.show_more {
  position: absolute;
  bottom: 0;
  right: 0;
  color: blue;
  cursor: pointer;
}

/* ! checkout_addcart */
.checkout_addcart {
  display: flex;
  justify-content: space-around;
}

.checkout,
.addcart {
  padding: 6px;
  border-radius: 5px;
  width: 10vh;
  border: none;
  background-color: #10cfb9;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: rgb(25, 198, 146, 0.8);
  }
}

#like-ture {
  display: none;
  color: red;
}

/* 1140px */
@media (max-width: 1140px) {
}

/* 1000px */
@media (max-width: 1000px) {
}
/*pad screen */
@media (max-width: 781px) {
}
/* mobile screen size */
@media (max-width: 590px) {
  .big_container {
    flex-direction: column;
  }
  .buy_item_image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  /* image container */
  .image_container {
    display: flex;
    max-width: 100%;
    border-radius: 6px;
    margin-right: 0;
    position: relative;
  }
  .imgslide {
    width: 100%;
  }
  .radio_img {
    bottom: 0;
  }
  .image_hover {
    display: none;
  }

  /* producat image */

  /* product detels container */
  .product_container {
    display: flex;
    width: 90%;
    font-size: 1rem;
    padding: 4px;
  }
  .title_product {
    font-size: 1.2rem;
  }
  .rating {
    font-size: 0.7rem;
  }
  /* deleve detels and time detels  */
  .laptop_deliver {
    display: none;
  }
  .moble_deliver {
    display: block;
  }
  .delever_detels_container {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
  }
  .price_d {
    margin-left: 30px;
  }
  .price_d > span {
    font-size: 1.6rem;
  }
  .deliver_date_d {
    margin-left: 20px;
  }
  .button_d > button {
    width: 50%;
    font-size: 1.2rem;
    font-weight: 800;
  }
  .quntity_sec {
    margin-left: 20px;
    font-weight: 800;
  }
  .quntity_secation_d {
    width: 70%;
    font-size: 1.8rem;
    font-weight: 800;
  }
  .quntity_secation_d > div {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .stock {
    margin-left: 20px;
  }
  .diliver_address_d {
    margin-left: 20px;
  }
}

/* mobile screen size 382 */
@media (max-width: 382px) {
}
