* {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #737171 transparent;
}

.fa-question {
  font-size: 1.8rem;
  cursor: pointer;
}

main {
  position: sticky;
  display: flex;
  top: 60px;
  height: 90vh;
  width: 100%;
  overflow: auto;
}

/* ! sidebar */
.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  background-color: red;
}

.profilea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilea > img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile > h2 {
  margin-bottom: 10px;
}

.sidebar > ul {
  width: 80%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  list-style-type: none;
  overflow: scroll;
  padding: 5px;
}

.sidebar > ul > li {
  text-decoration: none;
  font-size: 1.5rem;
  width: 90%;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 5px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid rgb(28, 28, 28);
    /* background-color: #f0f0f0; */
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seting {
  width: 80%;
  font-size: 1.5rem;
  padding: 5px;
}

/* ! */

.editproduct {
  position: static;
  top: 100px;
  padding: 10px;
  font-size: 1.3rem;
  display: none;
  cursor: pointer;
  z-index: 2;
}

.fa-pen-to-square {
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  background-color: #000000b9;
}

/* ! delete */
.fa-trash {
  padding: 7px;
  border-radius: 3px;
  color: rgba(255, 0, 0, 0.826);
  /* background-color: #000000b9; */
}
.product:hover {
  .editproduct {
    display: flex;
  }
  background-color: #f0f0f0;
}
.product {
  display: flex;
  border-radius: 6px;
  padding-right: 5px;
  width: 80%;
  margin-top: 10px;
  box-shadow: 0 0 7px rgb(122, 114, 114);
  transition: all 0.2s ease;
}
.product img {
  cursor: pointer;
  height: 150px;
  border-radius: 6px;
  margin: 0.4rem;
}

.product-box {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.name {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 150px;
  align-items: center;
}
.ditalis {
  font-weight: bold;
  margin-top: 8px;
}
.dec {
  font-size: 0.9rem;
  height: 100%;
  display: flex;
  overflow: hidden;
  /* justify-content: center; */
  flex-direction: column;
}

.quantity-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity {
  margin-top: 8px;
}

.qty {
  display: none;
}

.qua {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-text {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 8px;
}
.price {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.totprice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #858889;
  padding: 4px;
  border-radius: 6px;
  color: #fff;
}

@media (max-width: 700px) {
}
/* 1140px */
@media (max-width: 1140px) {
}

/* 1000px */
@media (max-width: 1000px) {
  .product {
    width: 90%;
  }
}
/*pad screen */
@media (max-width: 781px) {
  .sidebar {
    width: 45px;
  }
}
/* mobile screen size */
@media (max-width: 590px) {
  .big_cart_cantenr {
    width: 100%;
  }
  .cart_cantenr {
    width: 100%;
  }
  .product {
    width: 100%;
    overflow: hidden;
  }
  .product img {
    height: 100px;
  }
  .name {
    height: 100px;
  }
  .dec {
    font-size: 0.8rem;
  }
  .quantity {
    display: none;
  }
  .qty {
    display: flex;
  }
}

/* mobile screen size 382 */
@media (max-width: 382px) {
}
