* {
  margin: 0;
  padding: 0;
}

.nav_light {
  background-color: #bbcbcb;
}

/* !feedback cantenr is here */

.feedback_cantenr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 0 0;
}

/* !feedback form is here */

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(122, 114, 114, 0.5);
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 320px;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  &:focus {
    outline: none;
  }
}
.blackD {
  background-color: #fff;
  color: black;
}
.darkbox {
  background-color: black;
  color: white;
}

button {
  background-color: #67abf4;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  width: 15vh;
  transition: all 0.3s ease;
  &:hover {
    background-color: #007bff;
    color: #151515;
    transform: scale(1.1);
  }
}

.feedback_button {
  padding: 6px;
  width: 120px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 6px;
  color: #fff;
  background-color: #ec1ce9;
  transition: all 0.1s ease;
  &:hover {
    width: 135px;
    font-size: 1.8rem;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  }
}

/* !dark mode and help button */
.h_container {
  display: flex;
  justify-content: space-between;
  /* background-color: #f8f8f8ef; */
  /* background-color: #111111; */

  padding: 10px;
}
.option_b {
  display: flex;
  align-items: center;
  gap: 4px;
}
.option_b::marker {
  content: "";
}
.help {
  cursor: pointer;
  &:hover {
    color: #ec1ce9;
  }
}
a {
  color: inherit; /* Isse anchor tag apne parent element `ka color inherit karega */
  text-decoration: none;
}
