body {
  font-family: Arial, sans-serif;
}

.help a {
  text-decoration: none;
  color: inherit;
}

.kitmo-logo {
  display: flex;
  height: 90px;
  justify-content: center;
}

.kitmo_img {
  justify-content: center;
  width: 200px;
  height: 100px;
}

.l_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  margin-top: 0;
}

#login-form {
  flex-direction: column;
  display: flex;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 1rem;
  width: 350px;
  box-shadow: 0 0 7px black, 0 0 7px white;
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.password_eee {
  margin-top: 10px;
  color: #6b6969b0;
}
.input_container {
  opacity: 0.8;
}
.input_container input {
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.832), 0 0 5px white;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.btn_container button {
  border: none;
  border-radius: 5px;
  height: 33px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn_container .loginbtn {
  background-color: #8286f7;
  cursor: pointer;
}

.btn_container .signupbtn {
  background-color: #5ab8e4;
  cursor: pointer;
}

.box1 {
  padding: 7px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.input_container label {
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.option_b::marker {
  content: "";
}

.option_b {
  display: flex;
}

.mode_line {
  padding-left: 4px;
}

.b_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.loginbtn {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* term_and_condition */
.term_and_condition {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  opacity: 0.8;
}

@media (max-width: 382px) {
  .input_container label {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  input {
    width: 100%;
  }
}
