* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

/* ! sidebar */
.sidebar {
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
  width: 500px;
  height: 100dvb;
  flex-direction: column;
}
.box {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  align-items: center;
  box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.342);
}
.boxchatu {
  width: 100%;
  display: flex;
  height: 100dvh;
  /* padding: 0px 10px 0 10px; */
  flex-direction: column;
}
.nevbox {
  position: sticky;
  top: 0px;
  display: flex;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.imagebox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}
.imagebox img {
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.userid {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
}

.userid span {
  font-size: 0.8rem;
  font-weight: normal;
  color: #1b1b1b;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 10px;
}

.menu span {
  height: 2px;
  width: 2px;
  background-color: black;
  border: 2px solid black;
  border-radius: 50%;
}

/* ! send message */

.sendmsg {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);

  border-radius: 0 0 5px 5px;
  width: 100%;
  padding: 10px 0 10px 0;
  gap: 5px;
}

.sendmsg input {
  font-size: 1.2rem;
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
  color: #6c6969;
  margin-left: 10px;
  &:focus {
    outline: none;
  }
}

.sendmsg input :focus-within {
  border: none;
}

.sendmsg button {
  border: none;
  font-size: 1.5rem;
  height: 35px;
  border-radius: 2px;
  margin-right: 10px;
  background-color: #1aabe9;
}

/* ! message area */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.main .smsgo {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 15px;
}

.smsgo .pdiv {
  display: flex;
  max-width: 70%;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
  border-radius: 15px 0 15px 15px;
  padding: 0px 10px 0 15px;
}

.pdiv .time {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #565252;
  margin: 0;
  padding: 0;
  right: -6px;
  margin-bottom: 2px;
  gap: 4px;
}

.time span {
  position: relative;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

.time span i {
  padding: 0;
  margin: 0;
  rotate: -11deg;
}

.time .readColor {
  color: #1aabe9;
}

.time .second {
  position: relative;
  right: 5px;
}

.pdiv p {
  font-size: 1.1rem;
  margin-bottom: 5px;
  margin-top: 8px;
}

.main .smscome {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.smscome .pdiv {
  display: flex;
  max-width: 70%;
  flex-direction: column;
  font-size: 1.1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
  border-radius: 0 15px 15px 15px;
  padding: 0px 15px 0 20px;
}

.pdiv img {
  width: 100%;
  border-radius: 10px;
}

/*! chats navbar  */
.navchat {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.firstrow {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.firstrow span {
  margin: 20px 0px 10px 10px;
  font-size: 1.7rem;
  font-weight: bold;
}
.menuchat {
  display: flex;
  margin: 20px 10px 10px 0px;
  cursor: pointer;
  font-size: 1.2rem;
}

.chatserch {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.chatserch input {
  width: 75%;
  height: 25px;
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 2px 25px 2px 10px;
  border: 1px solid #6c6969;
  &:focus {
    outline: none;
  }
}

.fa-magnifying-glass {
  position: relative;
  right: 24px;
  cursor: pointer;
}

/* !chat user */

.userbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
}

.user {
  display: flex;
  width: 90%;
  margin-top: 10px;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
}

.user .imagorname {
  display: flex;
}

.user img {
  width: 40px;
  margin: 10px;
}

.user .name {
  display: flex;
  flex-direction: column;
}

.name p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 6px 0 0 0;
}

.name span {
  font-size: 0.8rem;
  color: #302d2d;
}

.user .time {
  width: max-content;
  font-size: 0.9rem;
  margin-right: 4px;
  color: #6c6969;
}
