<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swipe Image Slider</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="slider" id="slider">
      <div class="slides">
        <img src="../../image/boat1.webp" alt="Slide 1" />
        <img src="../../image/boat2.jpg" alt="Slide 2" />
        <img src="../../image/boat3.jpg" alt="Slide 3" />
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
